*.debug
*.exe

output

# SS3 runs
ss3/runs

# Generated HTML, docx, images etc
*.html
*.png
*.svg
*.pdf
*.docx
*.tar.gz
*.zip

# But not in other/images!
!other/images/*.png

# Doxygen output
doxygen
!doxygen/Doxyfile

# Pages directory used for collating what gets published
.pages

# Ignore text editor and IDE files
*.sublime-project
*.sublime-workspace
.Rhistory

# Ignore local files
*.local

# Ignore dependencies
requires

# Ignore symlinked directory for worksheets
presents/**/ioskj
