*.debug
*.exe

output

# SS3 runs
ss3/runs

# Generated HTML, docx and images
*.html
*.png
*.svg
*.pdf
*.docx

# Doxygen output
doxygen
!doxygen/Doxyfile

# Pages directory used for collating what gets published
.pages

# Ignore text editor and IDE files
*.sublime-project
*.sublime-workspace
.Rhistory

# Ignore local files
*.local

# Ignore dependencies
requires